body {
    background-color: #F3F6FF;
}

.billboard-card img {
    margin-top: 40px;
    width: 90%;
    height: auto;
    border-radius: 2%;
}

.billboard-info h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: white;
}

.billboard-info p {
    margin: 0;
    font-size: 14px;
    color: white;
}

.billboard-info span {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #000;
}

div, p, input, header, a, form {
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    display: block;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}


.sidebar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    z-index: 1;
}

.sidebar_items {
    align-items: center;
    background-color: #fff;
    padding: 20px 100px;
    border-radius: 20px;
}

.sidebar_items h2 {
    color: #000;
    width: 290px;
    font-size: 30px;
    text-align: center;
}

.sidebar_items h2 span {
    color: #4D49FF;
}

.sidebar_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: center;
}

.homePage {
    display: flex;
    margin-top: 10px;
    margin-right: 3rem;
}

.enter {
    margin-right: 10px;
    cursor: pointer;
}

.img2 {
    width: 60px;
    height: 60px;
}

.sub-menu {
    background: #fff;
    padding: 20px 0 20px 20px;
    margin: 10px 0 10px 10px;
}

.uer-info {
    display: flex;
    align-items: center;
}

.uer-info h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

.uer-info img {
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-wrap {
    position: absolute;
    top: 85%;
    right: 0;
    width: 260px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
    font-size: 16px;
}

.sub-menu-link i {
    margin-right: 10px;
    width: 18px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;

}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

.nav {
    display: flex;
}

.nav li {
    margin-right: 35px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.nav li a {
    color: #000;
    margin-left: 100px;
}

.nav li:nth-child(4n) {
    margin-right: 0;
}


.shops {
    display: flex;
    align-items: center;
}

.shops a {
    color: #000;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 500;
}

.cart a {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

.text_banner button {
    width: 280px;
    padding: 20px;
    font-weight: bold;
    background-color: #4D49FF;
    border: none;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
}

.text_banner h2 {
    font-size: 34px;
    width: 358px;
    margin-bottom: 30px;
    color: #00145B;
}

.items {
    padding: 40px 20px;
}

.items h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}


.cards .slick-track {
    display: flex;
}

.cards .slick-list {
    overflow: hidden;
}

.cards .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards .slick-dots li {
    margin-right: 10px;
}

.cards .slick-dots li:nth-child(9n) {
    margin-right: 0;
}

.cards .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #4D49FF;
    cursor: pointer;
    border: none;
}

.slick-dots .slick-active button {
    background-color: #0E0B85;
    width: 17px;
    height: 17px;
}

.cards_item {
    width: 361px;
    background: #6189b0;
    padding: 30px 30px 40px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
    transform: scale(0.93);
}

.cards .slick-center {
    background-color: #0E0B85;
    transform: scale(1);
    transition: 1s ease;
}

.cards .slick-center .banner_btn a:hover {
    background-color: #6189b0;
}


.img_banner {
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}

.img_banner a {
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background: red;
    width: 70px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}

.img_banner p {
    position: absolute;
    top: 0;
    font-size: 13px;
    background: #fff;
    text-align: center;
    width: 160px;
    border-radius: 3px;
    margin: 160px 0 10px 10px;
    font-weight: bold;
}

.img_banner img {
    height: 196px;
    width: 300px;
    border-radius: 5px;
}

.banner_detail {
    font-size: 14px;
    width: 300px;
    color: #fff;
}

.banner_textD {
    margin-bottom: 20px;
}

.banner_textD p {
    color: #fff;
    font-size: 17px;
}

.banner_textD h3 {
    color: #fff;
    margin-bottom: 30px;
    width: 280px;
    font-size: 20px
}

.banner_btn {
    width: 130px;
    margin: 0 auto 0 170px;
}

.banner_btn a {
    border-radius: 3px;
    text-align: center;
    color: #000;
    font-weight: bold;
    background: #fff;
    width: 130px;
    padding: 5px 0;
    display: block;

}

.banner_btn a:hover {
    background: #0E0B85;
    color: #fff;
    transition: 0.6s ease;
}

.more_bilboards a {
    display: block;
    color: #fff;
    background: #0E0B85;
    width: 170px;
    text-align: center;
    padding: 13px 0;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    margin: 25px auto;
}

.about_com {
    /* padding: 60px 20px 100px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about_items {
    display: flex;
    height: 85vh;
    margin-top: 15vh;
    padding: 60px 10%;
    border-radius: 0;
    background: #f08557;
}


.text_about {
    width: 470px;
    margin-right: 20px;
}

.text_about h1 {
    font-size: 30px;
    width: 450px;
    margin-bottom: 10px;
    color: #fff;
    padding-top: 0;
}

.text_about p {
    font-size: 18px;
    margin: 0 0 20px;
    width: 450px;
    color: #fff;
}

.text_about p span {
    font-weight: bold;
}

.grid_img img {
    max-width: 260px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    border-radius: 5px;
}

.grid_img img:nth-child(1) {
    max-width: 260px;
    height: 320px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 5px;
}

.grid_img > div {
    /* justify-content: center;
    /* align-items: center; */
}

.grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid_img {
    /* display: grid; */
    /* grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    margin-left: 20px; */
    display: flex;
    gap: 10px;
    /* height: 100px; */
}

.group1_grid img {
    margin-bottom: 10px;
}

.group1_grid img:nth-child(1) {
    height: 110px;
}

.group1_grid img:nth-child(2) {
    height: 200px;
    width: 165px;
}

.group1_grid img:nth-child(2n) {
    margin-bottom: 0;
}


.info {
    display: block;
    text-align: center;
}

textarea {
    font-size: 18px;
    padding: 20px;
    width: 326px;
    border-radius: 10px;
    height: 120px;
    background-color: #FFFCDE;
    margin-bottom: 30px;
}

.info input {
    display: block;
    background: #FFFCDE;
    border: 2px solid rgba(0, 0, 0, 0.31);
    border-radius: 10px;
    width: 368px;
    padding: 12px 15px;
    font-size: 19px;
    margin: 0 auto 10px;

}

.info input:nth-child(2n) {
    margin-bottom: 20px;
}

.info input:focus {
    background: #FFF;
}

.info textarea:focus {
    background-color: #FFF;
}

.btn {
    text-align: center;
}

.btn button {
    background: red;
    width: 200px;
    padding: 13px 0;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
}

.container {
    width: 100%;
}


h1.all_Billboards {
    text-align: left !important;
    margin-left: 10px;
}