<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>

    <!--  my fons-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Ruslan+Display&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Ruslan+Display&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <!--my fonts-->
    <!--  <link rel="stylesheet" th:href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>-->

    <title>Welcome to the Happy Clients</title>
    <style>


    </style>
</head>
<body>
<header class="Signin-header">
    <div class="logo-container">
        <img src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="Logo" class="logo" />
        <span class="logo-text">
              Happy <br /> Client
            </span>
    </div>
</header>
<div class="logIn">
    <div class="container">
        <div class="logIn_items">
            <div class="logIn_text">
                <h1 class="text-login">Login</h1>
                <P>Just enter your email and password. If you don't have an account, click "Register" below.</P>

                <form th:action="@{'/auth'}" method="post">
                    <div class="info">
                        <input type="text" name="user_email" placeholder="Email" required>

                        <input type="password" name="user_password" placeholder="Password" minlength="8" required>
                        <div class="wrong_password" id="wrong_password" th:if="${param.notEqualPasswords != null}">
                            <p>Incorrect password</p>
                        </div>
                        <div th:style="'margin-right: 12px;'" class="wrong_password" id="wrong_password" th:if="${param.error != null}">
                            <p>Invalid email or password</p>
                        </div>

                        <div class="btn">
                            <button type="submit">Enter</button>
                        </div>
                        <div class="wrong_password" id="wrong_password" th:if="${param.afterRegistration != null}">

                        </div>

                    </div>
                </form>
                <p class="or-text">or</p>
                <div class="register">
                    <a th:href="@{'/auth/register'}">Register now</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $('#myModal__close, #myOverlay').click(function () {
        $('#myModal, #myOverlay').animate({opacity: 0}, 198, function () {
            $(this).css('display', 'none');
            $('#myOverlay').fadeOut(297);
        });
    });

    window.onload = function() {
        if (window.location.href.indexOf("?error") !== -1) {
            if (!sessionStorage.getItem('pageRefreshed')) {
                sessionStorage.setItem('pageRefreshed', 'true');
            } else {
                const cleanUrl = window.location.href.split("?")[0];
                window.location.replace(cleanUrl);
            }
        } else {
            sessionStorage.removeItem('pageRefreshed');
        }
    };
</script>


</body>
</html>

