<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/manage.css"/>
    <link rel="stylesheet" th:href="@{/css/manage.css}" />

    <link rel="stylesheet" href="../static/css/header.css"/>
    <link rel="stylesheet" th:href="@{/css/header.css}" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <!--  my fons-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Ruslan+Display&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Ruslan+Display&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <!--my fonts-->
    <style>

    </style>
    <title>Admin Page</title>
</head>
<body>
<header class="root-header">
    <div class="logo-container">
        <img src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="logo" class="logo">
        <!--            <img th:src="@{/img/logo.png}" alt="logo" class="logo">-->

        <span class="logo-text">
            Happy <br/> Clients
    </span>
    </div>
    <nav class="nav-links">
        <ul>
            <li class="dash" >
                <a th:href="@{'/admin/main/'}" style="text-decoration: underline;">Dashboard</a>
            </li>
            <li class="custom">
                <a th:href="@{'/admin/incomingOrders/'}">Orders</a>
            </li>
            <li class="bilbo">
                <a th:href="@{'/admin/allBillboards/'}">All Billboards</a>
            </li>
            <li class="new_bilbo">
                <a th:href="@{'/admin/addNewBillboard/'}" >Post New</a>
            </li>
        </ul>
    </nav>
    <div class="enter">
        <img style="height: 40px"
             src="https://img.freepik.com/free-vector/illustration-user-avatar-icon_53876-5907.jpg?w=1380&t=st=1710492001~exp=1710492601~hmac=2facf8b6dd9ab55929f1b98082e457f4d117dc80deae716d47b81ed83ade7693"
             class="user-pic" onclick="toggleMenu()">
        <div class="name">
            <p th:text="${#authentication.getPrincipal().name} + ' ' + ${#authentication.getPrincipal().surname}"></p>
            <p>Super Admin</p>
        </div>
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="uer-info">
                    <img style="height: 40px"
                         src="https://img.freepik.com/free-vector/illustration-user-avatar-icon_53876-5907.jpg?w=1380&t=st=1710492001~exp=1710492601~hmac=2facf8b6dd9ab55929f1b98082e457f4d117dc80deae716d47b81ed83ade7693"
                         class="img2">
                    <h3 th:text="${#authentication.getPrincipal().name} + ' ' + ${#authentication.getPrincipal().surname}"></h3>
                </div>
                <hr>
                <a th:href="@{'/mainPage/'}" class="sub-menu-link" sec:authorize="hasAuthority('MANAGER')">
                    <i class="fa-solid fa-user"></i>
                    <p>Home Page</p>
                    <span>></span>
                </a>
                <a th:href="@{'/editOrViewProfile/'}" class="sub-menu-link">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <p>Edit profile</p>
                    <span>></span>
                </a>
                <a class="sub-menu-link" href="JavaScript:void(0)"
                   onclick="singOutForm.submit()">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>Log out</p>
                    <form th:action="@{'/signOut'}" method="post" id="singOutForm"></form>
                    <span>></span>
                </a>
            </div>
        </div>
    </div>
</header>
<section class="cards_info">
    <div class="container">
        <div class="cards_items">
            <div class="card">
                <div class="text">
                    <h3 th:text="${activeOrders}"></h3>
                    <img style="height: 20px" src="https://www.svgrepo.com/show/6940/check-mark.svg" alt="#">
                </div>
                <p>Active Orders</p>
            </div>
            <div class="card">
                <div class="text">
                    <h3 th:text="${inActiveOrders}"></h3>
                    <img style="height: 20px" src="https://logowik.com/content/uploads/images/close1351.jpg" alt="#">
                </div>
                <p>Inactive Orders</p>
            </div>
            <div class="card">
                <div class="text">
                    <h3 th:text="${waitingOrders}"></h3>
                    <img style="height: 20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Clockwise_arrow.svg/2160px-Clockwise_arrow.svg.png" alt="#">
                </div>
                <p>Waiting Orders</p>
            </div>
            <div class="red_card">
                <div class="text">
                    <h3 th:text="${income}"></h3>
                    <img style="height: 20px" src="https://static.vecteezy.com/system/resources/thumbnails/005/232/718/small_2x/analysis-line-icon-business-economy-and-finance-concept-graph-arrow-up-dollar-symbol-magnifying-linear-icon-illustration-vector.jpg" alt="#">
                </div>
                <div class="red_report">
                    <p>All income</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    let subMenu = document.getElementById("subMenu");

    function toggleMenu(){
        subMenu.classList.toggle("open-menu");

    }
</script>
</body>
</html>